*.html
*.pdf
*.redxml
*.swp
draft-ihlesong-mpls-mna-capabilities-requirements.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ihlesong-mpls-mna-capabilities-requirements.xml
package-lock.json
report.xml
!requirements.txt
